/********
General
*********/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap");
@import "./variables.scss";

html {
  background: url("../assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0d1116;
  max-width: 100%;
  min-height: 100%;
}

body {
  color: $white;
}

// body * {
//   outline: 1px solid magenta;
// }
