/*==================
Header
==================*/

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.header--link {
  text-decoration: none;
  color: $white;
}

#header--title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

  #header__logo {
    font-size: 1.7rem;
  }

  #header__name {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
    padding: 0 5px;
  }
}

#header--search {
  #header--search__input {
    padding: 8px;
    width: 200px;
    border: none;
    border-radius: 5px 0 0 5px;
  }

  #header--search__input:focus {
    outline: none;
  }

  #header--search__button {
    padding: 8px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: $orange;
    color: #fff;
  }
}

@media (width >= 640px) {
  #header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1.2em;
  }
}

@media (width > 1536px) {
  #header {
    margin: 0 auto;
    width: 70%;
  }
}
